{% if response_data %}
    <h2>{{ response_data.city }}</h2>
    <img id="weather-icon" src="http://openweathermap.org/img/w/{{ response_data.icon_nr }}.png" alt="Weather Icon">
        <p id="temperature">Temperature: {{ response_data.temp }}°C</p>
        <p id="pressure">Pressure: {{ response_data.pressure }} hPa </p>
        <p id="humidity">Humidity: {{ response_data.humidity }} %</p>
        <p id="max-min_temp">Min. temp.: {{ response_data.temp_min }}°C - Max. temp.: {{ response_data.temp_max }}°C</p>
{% endif %}